################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

__pycache__
/.pytest_cache
/.idea
/.vs
/.vscode
/etf_mu_homework
